footer {
  padding: 30px 20px;
  background-color: #575a6c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  color: #fff;
}

footer .menuList {
  transition: all 0.3s ease-in-out;
}
footer .menuList:hover {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.location,
.mobile,
.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
/* .location span:first-child,
.mobile span:first-child,
.mail span:first-child {
  flex-basis: 20%;
} */
.icon {
  width: 27px;
  height: auto;
  margin: 0 20px 0px 0;
}

.about,
.description,
.socialMedia {
  padding-top: 10px;
}
.footerLogo {
  width: 150px;
  height: auto;
}

/* Desktop and ipad styles */
@media only screen and (min-width: 600px) {
  footer {
    flex-direction: row;
  }
}
