/* #7cfe61 */
/* #0096ff */
.App,
.AppLoader {
  min-height: 100vh;
  background-color: #fff;
}
.AppLoader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App {
  background-image: url("./assets/mazacone_logo.png");
  min-width: 260px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(219, 219, 219);
}
/* .App::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 99%;
  border-radius: 407px 0 0 404px;
  background-color: #fff;
  animation: fadeInAnimation ease 3s 1 forwards;
  animation: 3s ease-in 1s infinite forwards both running fadeInAnimation;
} */
.font-face-gm {
  font-family: "DosisBold";
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.pagescontainer {
  padding-top: 60px;
  max-width: 1000px;
  width: 100vw;
  margin: 0 auto;
}

#contactLogo {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Desktop and ipad styles */
@media only screen and (min-width: 600px) {
  .App {
    background-size: 220px;
  }
  .desktopHide {
    display: none;
  }
}
